@use '@/styles/variables.scss' as *;

.wrapper {
	position: relative;
	padding: 0.4375rem 1rem;

	border: 1px solid #cccccc;
	border-radius: 5px;

	width: 100%;
	display: flex;
	align-items: center;
}

.passwordInput {
	width: 100%;
	border: none;
	flex: 1;
	font-family: $font-nunito-sans;
	font-size: $text-sm;
	line-height: 1.1875rem;

	&:focus-visible {
		outline: none;
	}

	&::placeholder {
		color: $gray-5;
	}
}

.eye {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tickWrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.tick {
	height: 14px;
	width: 14px;
	opacity: 0;
	transition: opacity 0.2s, stroke-dasharray 0.2s;
	stroke-dasharray: 0 24;
}

.tick.checked {
	opacity: 1;
	stroke-dasharray: 24 0;
}
