@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as mx;

.wrapper {
  // max-width: 37.625rem;
  // padding: 3rem 0.625rem;
  // height: 822px;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;
  @include mx.mq("md", max) {
    // padding: 1.125rem 0;
    gap: 1.125rem;
  }
  @include mx.mq("md") {
    height: 560px;
    max-width: 582px;
  }
  @include mx.mq("xl") {
    height: 580px;
  }
}

.container {
  padding: 16px 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 29px;
  background-color: rgba($primary-90, 0.85);
  @include mx.mq("md") {
    border-radius: 25px;
  }
  // @include mx.screen-xs-min {
  //   padding: 0 5px;
  // }
  // @include mx.screen-xs-max {
  //   background-color: rgba($primary-90, 0.85);
  // }
}

.form {
  display: flex;
  flex-direction: column;
  // gap: 1.5rem;
  align-items: center;
  // @include mx.screen-xs-min {
  //   border-radius: 1.5rem;
  //   background-color: rgba($primary-90, 0.85);
  // }
  // @include mx.screen-xs-max {
  //   padding: 2rem 1.625rem;
  // }
}

.formik {
  // padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;

  // @include mx.screen-xs-min {
  //   border-radius: 1.5rem;
  // background-color: rgba($primary-90, 0.85);
}
// @include mx.screen-xs-max {
//   padding: 2rem 1.625rem;
// }
// }

.header {
  margin-bottom: 32px;
  h1 {
    font-weight: 400;
    color: $title;
    font-family: $font-roboto;

    font-size: 36px;
    line-height: 1.22;

    margin-bottom: 4px;
    // @include mx.screen-md-max {
    //   font-size: 2.25rem;
    //   line-height: 122.222222%; /* 44/36 */
    // }
    @include mx.mq("md") {
      font-size: 45px;
      line-height: 1.15556;
    }
  }
  p {
    color: $title;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: 0.03em;

    @include mx.mq("md") {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
// .submitButton {
//   @include mx.screen-xs-max {
//     font-size: $text-lg;
//     padding: 0.75rem 0.75rem;
//     line-height: 133.333333%; /* 24/18 */
//   }
// }

.forgotPassword {
  color: $on-surface;
  font-family: $font-roboto;
  font-size: 0.875rem;
  line-height: 142.857143%; /* 20/14 */
  letter-spacing: 0.25px;
  transition: all 0.3s ease-in-out;
  align-self: flex-start;
  &:hover {
    color: rgba($on-surface, 0.85);
  }
}

.or {
  position: relative;
  font-family: $font-palanquin;
  font-size: 0.75rem;
  font-weight: 600;

  // margin-right: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 133.333333%; /* 16/12 */

  &::after,
  &::before {
    content: "-------------";
    // position: absolute;
    // top: 50%;
    color: $outline-variant;
  }

  &::before {
    // transform: translateY(-50%) translateX(-100%);
    // left: -4px;
    margin-right: 4px;
  }
  &::after {
    margin-left: 4px;
    // transform: translateY(-50%) translateX(4px);
    // left: 100%;
  }
}

.socialAuth {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-bottom: 40px;

  @include mx.mq("md", max) {
    flex-direction: column;
    max-width: 256px;
  }

  > button {
    width: 100%;
    background: rgb(140, 201, 255), rgb(207, 255, 167);
    border: 1px solid rgb(111, 121, 120);
    color: $on-surface-variant;
    display: flex;
    gap: 0.75rem;
    font-size: $text-sm;
    line-height: 135.714286%; /* 19/14 */
    padding: 10px;
    font-weight: 700;
  }
}

.noAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  // padding: 1.5rem;

  // @include mx.screen-xs-min {
  //   border-radius: 1.5rem;
  //   background-color: rgba($primary-90, 0.85);
  // }

  > p,
  a {
    font-size: 1rem;
    line-height: 150%; /* 24/16 */
  }
  > p {
    color: $on-surface;
  }
  > a {
    color: $primary;
    transition: all 0.3s ease-in-out;
    padding-bottom: 16px;
    &:hover {
      color: rgba($primary, 0.85);
    }
  }
}
