@use "./mixins" as mx;
@use "./variables" as var;

%flex-column {
  display: flex;
  flex-direction: column;
}

%title {
  font-weight: 400;
  color: var.$title;
  font-family: var.$font-roboto;
  font-size: 36px;
  line-height: 1.22;
  @include mx.mq("md") {
    font-size: 45px;
    line-height: 1.15556;
  }
}

%text-paragraph {
  color: var.$title;
  font-family: var.$font-roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.03em;

  @include mx.mq("md") {
    font-size: 16px;
    line-height: 1.5;
  }
}

%text-question {
  font-size: 1rem;
  line-height: 150%; /* 24/16 */
  font-family: var.$font-palanquin;
  color: var.$on-surface;
}

%text-link {
  font-size: 1rem;
  line-height: 150%; /* 24/16 */
  font-family: var.$font-palanquin;
  color: var.$primary;
  &:hover {
    color: rgba(var.$primary, 0.85);
  }
}
