@use "./variables.scss" as *;
@use "./fonts.scss";
@use "./reset.scss";
@use "./mixins.scss";
@use "./placeholders";

html,
body,
#root {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
